{{> layout/header}}
<div class="container">
        <div class="mb-3 mt-3">상품명 : 1</div>
        <div class="mb-3 mt-3">상품가격 : 1</div>
        <div class="mb-3 mt-3">상품수량 : 1</div>
        <span><a href="/product/1/updateForm" class="btn btn-warning">수정하러가기</a></span>
    <span>
	<form action="#" method="post">
		<button class="btn btn-danger">삭제하기</button>
	</form>
	</span>
</div>
{{> layout/footer}}